body {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(255, 255, 255);
}

.slideshow-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	width: 70%;
	height: 75%;

	margin-top: 40px;
}

/* --------------------- images container ----------------------- */

.images-container {
	position: relative;

	display: flex;
	justify-content: center;
    align-items: center;
    overflow: hidden;

	width: 100%;
	height: 91%;

	background-color: aliceblue;
}

.image {
	display: none;
	min-width: 100%;
}

.display-block {
	display: block;
}

.image-description-container {
	position: absolute;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	padding: 20px;
	bottom: 0;

	color: white;
	background-color: rgba(0, 0, 0, 0.303);
}

/* --------------------- stepper ----------------------- */
.stepper-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	width: 100%;
	height: 8%;
	border-radius: 15px;
	padding: 5px;

	background-color: #FF44A9;
}

.stepper-button {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 12%;
	height: 100%;
	border-radius: 15px;

	border: none;
	background: none;
	color: white;

	font-size: 15px;
}

.stepper-button:hover {
	background-color: #de2e8c;
}

.stepper-button__chosen {
	background-color: #C01571;
}


/* --------------------- previous and next buttons ----------------------- */

.slideshow-button {
	position: absolute;

	width: 50px;
	height: 70px;

	font-size: 30px;

	border: none;
	color: white;
	background-color: rgba(0, 0, 0, 0.141);
}

.slideshow-button:hover {
	background-color: rgba(0, 0, 0, 0.303);
}

#slideshow-button__previous {
	left: 0;
}
#slideshow-button__next {
	right: 0;
}